@charset "UTF-8";
/* Imports */ /* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500&display=swap");
/* -------- Fonts ---------- */
/* -------- Colors ---------- */
/* CSS Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mixin */
/* Functions */
.disNone {
  display: none !important;
}

.pzPopUp {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  opacity: 0;
  top: -100vh;
  /* Empty Cast Style */
}
.pzPopUp .castArea {
  max-height: 70vh;
  min-height: 400px;
  min-width: 540px;
  width: 30vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #bbb, white);
  padding: 30px 0;
  box-shadow: 0 0 5px #fff;
  top: -1000px;
  transition: all 1000ms;
  /* Close Btn */
  /* Items Info Area */
  /* Total Price */
  /* Checkout Btn */
}
.pzPopUp .castArea .closePopUp {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  transition: all 300ms;
}
.pzPopUp .castArea .closePopUp:hover {
  color: #ea2027;
}
.pzPopUp .castArea .castItems {
  width: 80%;
  max-height: 600px;
  padding-inline: 20px;
  flex-grow: 2;
  overflow: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #eee;
  border-left-color: #ccc;
  border-bottom: 0;
  /* single Item Info */
}
.pzPopUp .castArea .castItems .caItem {
  padding: 20px 10px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  border-bottom: 1px solid #ccc;
  font-family: "Noto Sans", sans-serif;
  /* Item Name */
  /* Price and minus , plus Btn */
}
.pzPopUp .castArea .castItems .caItem h2 {
  font: 1.4rem "Alegreya Sans", sans-serif;
  /* Delete Btn */
}
.pzPopUp .castArea .castItems .caItem h2 > i {
  font-size: 0.7rem;
  color: transparent;
  vertical-align: 2px;
  padding-right: 15px;
  margin-left: -10px;
  cursor: pointer;
  transition: color 200ms;
}
.pzPopUp .castArea .castItems .caItem h2 > i:hover {
  color: #ea2027 !important;
}
.pzPopUp .castArea .castItems .caItem:hover h2 i {
  color: #bbb;
}
.pzPopUp .castArea .castItems .caItem p {
  margin-right: -15px;
}
.pzPopUp .castArea .castItems .caItem p span {
  font-size: 0.9rem;
}
.pzPopUp .castArea .castItems .caItem p span:nth-child(2) {
  color: #555;
}
.pzPopUp .castArea .castItems .caItem p span:nth-child(3):after {
  content: " €";
}
.pzPopUp .castArea .castItems .caItem p i {
  font-size: 0.8rem;
  padding: 4px 5px;
  margin-inline: 10px;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
  transition: all 100ms;
  background-color: transparent;
  color: transparent;
}
.pzPopUp .castArea .castItems .caItem p i:nth-child(1):hover {
  color: #ea2027;
}
.pzPopUp .castArea .castItems .caItem p i.fa-plus:hover {
  color: #009432;
}
.pzPopUp .castArea .castItems .caItem:hover p i {
  background-color: #999;
  color: #fff;
}
.pzPopUp .castArea .castItems .caItem:last-child {
  border-bottom: none !important;
}
.pzPopUp .castArea .castTotal {
  width: 50%;
  min-width: 300px;
  padding: 20px;
  margin-block: 10px;
  border-top: 2px solid #ea2027;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.pzPopUp .castArea .castTotal > span:before {
  content: "€ ";
}
.pzPopUp .castArea .castTotal span {
  font-family: "Noto Sans", sans-serif;
}
.pzPopUp .castArea .castTotal span span {
  font-size: 0.8rem;
}
.pzPopUp .castArea .castBuy {
  padding: 10px 25px;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom, #009432, #2a7c33, #346534, #374f34, #353934);
  color: #f1f2f6;
  cursor: not-allowed;
  transition: filter 500ms;
}
.pzPopUp .castArea .castBuy:hover {
  filter: brightness(1.2);
}
.pzPopUp .castEffect {
  top: 0px !important;
  transition: all 400ms cubic-bezier(0.1, 1.1, 0.67, 1.41);
}
.pzPopUp .emptyCart {
  color: #bbb;
  font-size: 2rem;
}
.pzPopUp .emptyCart:before {
  content: "\f07a";
  display: block;
  text-align: center;
  font: var(--fa-font-solid);
  font-size: 7rem;
  padding-block: 1rem;
}

.popDown {
  opacity: 1 !important;
  top: 0 !important;
}

#pzHeader {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.5), transparent), center/cover url(./../../public/image/bc2.jpg);
}

/* https://www.pizza-boss.de/_shops/res/pics/parallax_bg.jpg */
.pzNav {
  height: 70px;
  width: 100vw;
  top: 100px;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: height 100ms ease-in;
  box-shadow: 0 0 10px #000;
  background-image: linear-gradient(to bottom, #ea2027, #d51f26, #c11e24, #ad1d22, #991c20);
}
.pzNav-logo {
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  top: -60px;
  transition: all 200ms ease;
}
.pzNav ul.pcNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 2% auto;
  list-style-type: none;
  gap: 30px;
  font: 1.5rem "Lobster Two", cursive;
}
.pzNav ul.pcNav li a {
  cursor: pointer;
  text-shadow: 0 0 5px #ccc;
  transition: all 200ms;
  color: #f1f2f6;
  text-decoration: none;
}
.pzNav ul.pcNav li a:hover {
  color: #009432;
  text-shadow: 0 0 5px #333;
}
.pzNav ul.pcNav li:after {
  content: "";
  display: block;
  background: linear-gradient(to left, transparent, #009432, transparent);
  height: 3px;
  width: 0;
  margin-inline: auto;
  transform: translateY(5px);
  transition: all 200ms;
}
.pzNav ul.pcNav li:hover::after {
  width: 100%;
}
.pzNav .fa-cart-plus {
  padding: 8px 25px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 1.4rem;
  cursor: pointer;
  color: #ea2027;
  transition: all 150ms;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  margin-right: 2%;
}
.pzNav .fa-cart-plus:hover {
  color: #009432;
}
.pzNav .fa-cart-plus h2 {
  position: absolute;
  font: 0.8rem "Noto Sans", sans-serif;
  top: -8px;
  left: -8px;
  height: 25px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009432;
  border-radius: 50%;
  color: #fff;
}
.pzNav .fa-user {
  padding: 10px 12px;
  background-color: #009432;
  border-radius: 50%;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px #009432;
  transition: filter 200ms;
}
.pzNav .fa-user:hover {
  filter: brightness(1.1);
}

/* Fixed Nav */
.fixNav {
  height: 50px;
  top: 0px;
  position: fixed;
}
.fixNav .pzNav-logo {
  height: 80px !important;
  top: 0px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 0 0 50% 50%;
  background-color: #fff;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.fixNav ul li {
  font-size: 1.2rem;
}
.fixNav ul li:after {
  height: 0;
}
.fixNav .fa-cart-plus {
  padding: 5px 20px;
  font-size: 1.2rem;
}
.fixNav .fa-cart-plus h2 {
  height: 21px;
  font: 0.7rem "Noto Sans", sans-serif;
}
.fixNav .fa-user {
  display: none;
}

.burgerNav {
  height: 35px;
  aspect-ratio: 1;
  margin-right: auto;
  cursor: pointer;
  position: relative;
  display: none;
}
.burgerNav .opNav {
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  transition: all 300ms;
  content: "";
  top: 14px;
}
.burgerNav .opNav:before {
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  transition: all 300ms;
  content: "";
  top: -11px;
}
.burgerNav .opNav:after {
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  transition: all 300ms;
  content: "";
  top: 11px;
}
.burgerNav .xNav {
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  transition: all 300ms;
  content: "";
  background: transparent;
  width: 0px;
}
.burgerNav .xNav:before {
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  transition: all 300ms;
  content: "";
  top: 0;
  transform: rotate(45deg);
}
.burgerNav .xNav:after {
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  transition: all 300ms;
  content: "";
  top: 0;
  transform: rotate(-45deg);
}

#pzContent {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e0e0e0;
}
#pzContent .redMask {
  position: absolute;
  height: 200px;
  width: 70vw;
  left: 0;
  background: #ea2027;
  transform: translateY(-103px);
  -webkit-clip-path: polygon(0 18%, 0 95%, 97% 52%);
  clip-path: polygon(0 18%, 0 95%, 97% 52%);
}
#pzContent .whiteStyle {
  position: absolute;
  height: 200px;
  width: 55vw;
  right: 0;
  background-color: #e0e0e0;
  transform: translateY(-75px);
  -webkit-clip-path: polygon(0% 55%, 100% 10%, 100% 100%, 10% 150%);
          clip-path: polygon(0% 55%, 100% 10%, 100% 100%, 10% 150%);
}
#pzContent .footerRedMask {
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: -140px;
  left: 0;
  background: top/cover url(./../../public/image/footer2.png);
  -webkit-clip-path: polygon(4% 75%, 100% 8%, 100% 100%, 0% 100%);
          clip-path: polygon(4% 75%, 100% 8%, 100% 100%, 0% 100%);
}

/* ------------------------------- Loading Start -------------------------- */
.contentLoading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentLoading .sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  transform: rotateZ(45deg);
}
.contentLoading .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}
.contentLoading .sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ea2027;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}
.contentLoading .sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.contentLoading .sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}
.contentLoading .sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}
.contentLoading .sk-folding-cube .sk-cube2:before {
  background-color: #009432;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.contentLoading .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.contentLoading .sk-folding-cube .sk-cube4:before {
  background-color: #009432;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* ------------------------------- Loading End -------------------------- */
#pzFooter {
  height: 400px;
  width: 100vw;
  background: top/cover url(./../../public/image/footer.png) no-repeat;
  -webkit-clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ccc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#pzFooter > div {
  flex-basis: 30%;
  line-height: 2rem;
}
#pzFooter .footerInfo ul {
  padding: 5px 20px;
  list-style-type: none;
}
#pzFooter .footerInfo ul li:nth-child(2) {
  font: 0.9rem "Noto Sans", sans-serif;
}
#pzFooter .footerInfo ul li:before {
  content: "";
  margin-right: 10px;
  font: var(--fa-font-solid);
}
#pzFooter .footerInfo ul li:nth-child(1):before {
  content: "\f015  ";
}
#pzFooter .footerInfo ul li:nth-child(2):before {
  font-size: 1.1rem;
  content: "\f098  ";
}
#pzFooter .footerInfo ul li:nth-child(3):before {
  content: "\f0e0  ";
}
#pzFooter .footerMap h2 {
  text-align: center;
  padding: 5px;
}
#pzFooter .footerMap p {
  text-align: center;
}
#pzFooter .footerSocial {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 70%;
  align-self: flex-end;
  padding-bottom: 10px;
}
#pzFooter .footerSocial i {
  font-size: 2rem;
  cursor: pointer;
  transition: color 200ms;
}
#pzFooter .footerSocial i:hover {
  color: #009432;
}
#pzFooter .footerSocial span {
  width: 100%;
  margin-top: auto;
  display: block;
  text-align: center;
  font-size: 0.8rem;
}

.pzCategory {
  width: 70%;
  height: 800px;
  margin-block: 200px;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  grid-template-areas: "pasta pasta drink" "dessert off drink" "dessert pizza pizza";
  gap: 5px;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
  background-image: radial-gradient(circle, #000000, #353535, #a3a3a3, #e0e0e0, #e0e0e0);
}
.pzCategory-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  font: 2rem "Lobster Two", cursive;
  color: #f1f2f6;
  filter: grayscale(30%);
  transition: filter 300ms ease-out;
}
.pzCategory-item:hover {
  filter: grayscale(0%);
}
.pzCategory-item .itemName {
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.7), transparent);
  padding: 1px 45px;
}
.pzCategory .catPizza {
  grid-area: pizza;
  background-image: url(https://realfood.tesco.com/media/images/1400x919-MargaritaPizza-555a4065-2573-4b41-bcf3-7193cd095d8f-0-1400x919.jpg);
}
.pzCategory .catPasta {
  grid-area: pasta;
  background-image: url(https://www.eat-this.org/wp-content/uploads/2021/10/eat_this_one-pot-kuerbis-pasta_mit_veganer_chorizo-003.jpg);
}
.pzCategory .catDessert {
  grid-area: dessert;
  cursor: not-allowed;
  background-image: url(https://www.ihr-wellness-magazin.de/fileadmin/_processed_/4/f/csm_50_low-carb-tiramisu-dessert_bs_168066176_800_fb22ad5e84.jpg);
}
.pzCategory .catDrink {
  grid-area: drink;
  background-image: url(https://imbibemagazine.com/wp-content/uploads/2022/10/holiday-drinks-crimson-sour-v2-crdt-john-valls.jpg);
}
.pzCategory .catOff {
  grid-area: off;
  background: radial-gradient(transparent, transparent, rgba(0, 0, 0, 0.6)), center/cover url(./../../public/image/neon.jpg);
  animation: neon 6000ms cubic-bezier(0.28, -0.7, 0.58, 1.71) 200ms infinite reverse;
}
.pzCategory .catOff:hover {
  filter: grayscale(0);
}

/* Neon Animation */
@-webkit-keyframes neon {
  0% {
    filter: grayscale(15%);
  }
  20% {
    filter: grayscale(0%);
  }
  40% {
    filter: grayscale(15%);
  }
  60% {
    filter: grayscale(0%);
  }
  69% {
    filter: grayscale(5%);
  }
  70% {
    filter: grayscale(80%);
  }
  72% {
    filter: grayscale(10%);
  }
  74% {
    filter: grayscale(80%);
  }
  79% {
    filter: grayscale(10%);
  }
  90% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(15%);
  }
}
@keyframes neon {
  0% {
    filter: grayscale(15%);
  }
  20% {
    filter: grayscale(0%);
  }
  40% {
    filter: grayscale(15%);
  }
  60% {
    filter: grayscale(0%);
  }
  69% {
    filter: grayscale(5%);
  }
  70% {
    filter: grayscale(80%);
  }
  72% {
    filter: grayscale(10%);
  }
  74% {
    filter: grayscale(80%);
  }
  79% {
    filter: grayscale(10%);
  }
  90% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(15%);
  }
}
#pizzaArea {
  width: 80vw;
  margin-block: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Single Item */
}
#pizzaArea .pizzaItem {
  height: 230px;
  width: 45%;
  min-width: 600px;
  position: relative;
  padding: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  color: #888;
  border-radius: 11px;
  overflow: hidden;
  background: linear-gradient(145deg, #fff, #cfcdcd);
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* Name & Information */
  /* Green Btn */
  /* Pizza Image */
}
#pizzaArea .pizzaItem .pizzaItemInfo {
  display: block;
}
#pizzaArea .pizzaItem .pizzaItemInfo span {
  font: 2rem "Lobster Two", cursive;
  font-weight: 600;
  color: transparent;
  background: linear-gradient(to top left, rgb(255, 123, 0), #ea2027);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#pizzaArea .pizzaItem .pizzaItemInfo ul {
  list-style-type: none;
  padding-left: 20px;
  line-height: 1.5rem;
}
#pizzaArea .pizzaItem .pizzaItemInfo ul li:before {
  content: "\f067    ";
  font: var(--fa-font-solid);
  font-size: 0.6rem;
}
#pizzaArea .pizzaItem .pizzaItemBtn {
  width: 25%;
  min-width: 100px;
  text-align: center;
  padding: 5px;
  background: linear-gradient(to right bottom, #009432, #2a7c33, #346534, #374f34, #353934);
  color: #fff;
  text-shadow: 0 0 5px #ccc;
  position: absolute;
  bottom: 20px;
  left: 50px;
  border-radius: 5px;
  transition: filter 300ms ease;
  box-shadow: 0 0 5px #333;
  font: 1.2rem "Noto Sans", sans-serif;
  /* Currency Sign */
}
#pizzaArea .pizzaItem .pizzaItemBtn:hover {
  filter: brightness(1.2);
}
#pizzaArea .pizzaItem .pizzaItemBtn:active {
  background: linear-gradient(to left top, #009432, #2a7c33, #346534, #374f34, #353934);
}
#pizzaArea .pizzaItem .pizzaItemBtn span {
  font-size: 0.8rem;
  vertical-align: top;
}
#pizzaArea .pizzaItem .pizzaItemBtn:after {
  content: " \f153";
  display: inline;
  font: var(--fa-font-solid);
  font-size: 0.9rem;
}
#pizzaArea .pizzaItem .pizzaItemPic {
  width: 210px;
  aspect-ratio: 1;
  position: absolute;
  right: -80px;
  top: 0;
  bottom: 0;
  margin-block: auto;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 600ms cubic-bezier(0.1, 1.1, 0.67, 1.41);
  box-shadow: 0 0 15px #666, inset 0 0 10px #333;
}
#pizzaArea .pizzaItem:hover .pizzaItemPic {
  right: 10px;
  -webkit-animation: pizzaRotate 90s infinite;
          animation: pizzaRotate 90s infinite;
}
#pizzaArea .pizzaItem:nth-child(1) .pizzaItemPic {
  background-size: 115%;
}
#pizzaArea .pizzaItem:nth-child(2) .pizzaItemPic {
  background-size: 101%;
}
#pizzaArea .pizzaItem:nth-child(6) .pizzaItemPic {
  background-size: 103%;
}
#pizzaArea .pizzaItem:nth-child(8) .pizzaItemPic {
  background-size: 103%;
}

/* Rotate Animation */
@-webkit-keyframes pizzaRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pizzaRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#drinkArea {
  width: 80vw;
  margin-block: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#drinkArea .drinkItem {
  height: 230px;
  width: 25%;
  min-width: 300px;
  position: relative;
  padding: 20px;
  font-size: 0.9rem;
  color: #888;
  border-radius: 11px;
  overflow: hidden;
  background: linear-gradient(145deg, #fff, #cfcdcd);
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  /* Green Btn */
  /* drink Image */
}
#drinkArea .drinkItem .drinkItemInfo {
  display: block;
}
#drinkArea .drinkItem .drinkItemInfo span {
  font: 2rem "Lobster Two", cursive;
  font-weight: 600;
  color: transparent;
  background: linear-gradient(to top left, rgb(255, 123, 0), #ea2027);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#drinkArea .drinkItem .drinkItemInfo ul {
  padding-top: 5px;
  list-style-type: none;
  padding-left: 20px;
  line-height: 1.5rem;
  width: 60%;
}
#drinkArea .drinkItem .drinkItemInfo ul li:before {
  content: "\f067    ";
  font: var(--fa-font-solid);
  font-size: 0.6rem;
}
#drinkArea .drinkItem .drinkItemBtn {
  width: 25%;
  text-align: center;
  padding: 5px;
  background: linear-gradient(to right bottom, #009432, #2a7c33, #346534, #374f34, #353934);
  color: #fff;
  text-shadow: 0 0 5px #ccc;
  position: absolute;
  bottom: 20px;
  left: 50px;
  border-radius: 5px;
  transition: filter 300ms ease;
  box-shadow: 0 0 5px #333;
  cursor: pointer;
  font: 1.2rem "Noto Sans", sans-serif;
  /* Currency Sign */
}
#drinkArea .drinkItem .drinkItemBtn:hover {
  filter: brightness(1.2);
}
#drinkArea .drinkItem .drinkItemBtn:active {
  background: linear-gradient(to left top, #009432, #2a7c33, #346534, #374f34, #353934);
}
#drinkArea .drinkItem .drinkItemBtn span {
  font-size: 0.8rem;
  vertical-align: top;
}
#drinkArea .drinkItem .drinkItemBtn:after {
  content: " \f153";
  display: inline;
  font: var(--fa-font-solid);
  font-size: 0.9rem;
}
#drinkArea .drinkItem .drinkItemPic {
  width: 110px;
  height: 90%;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin-block: auto;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 5px #555);
  -webkit-filter: drop-shadow(0 0 5px #555);
  transition: all 600ms cubic-bezier(0.1, 1.1, 0.67, 1.41);
}
#drinkArea .drinkItem:hover .drinkItemPic {
  transform: scale(1.1);
}

/* Footer & Category */
@media screen and (max-width: 1200px) {
  .pzCategory {
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    grid-template-areas: "pizza pasta" "pizza pasta" "off off" "off off" "drink dessert" "drink dessert";
    gap: 5px;
  }
  .footerMap {
    display: none;
  }
}
/* Footer */
@media screen and (max-width: 1100px) {
  .footerInfo {
    display: none;
  }
}
/* Navbar */
@media screen and (min-width: 951px) {
  ul.pcNav {
    display: flex !important;
  }
}
/* NavBar */
@media screen and (max-width: 950px) {
  .pzNav {
    padding: 0;
  }
  .pzNav .burgerNav {
    display: inline-block !important;
    margin-left: 2%;
  }
  .pzNav ul.pcNav {
    display: none;
  }
  .pzNav ul.mobileNav {
    display: none;
    flex-direction: column;
    height: calc(100vh - 170px);
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    top: 70px;
    margin-left: 0;
  }
  .pzNav ul.mobileNav li {
    font-size: 2rem;
  }
  .fixNav ul.pcNav {
    height: calc(100vh - 50px);
    top: 50px;
  }
}
/* Content */
@media screen and (max-width: 610px) {
  #pizzaArea {
    width: 100%;
  }
  #pizzaArea .pizzaItem {
    height: 350px;
    width: 100%;
    min-width: 0;
  }
  #pizzaArea .pizzaItem .pizzaItemInfo {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #pizzaArea .pizzaItem .pizzaItemPic {
    position: static;
    margin-inline: auto;
    margin-top: -100px;
  }
  #pizzaArea .pizzaItem .pizzaItemBtn {
    left: 0;
    right: 0;
    margin-inline: auto;
  }
}
/** */
@media screen and (max-width: 550px) {
  .castArea {
    width: 100% !important;
    min-width: 0 !important;
    border: 1px solid red;
  }
  .castArea .castItems {
    width: 100% !important;
  }
  .pzCategory {
    width: 100%;
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    grid-template-areas: "pizza pizza" "pasta pasta" "off off" "off off" "drink drink" "dessert dessert";
    gap: 5px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0e0e0;
  font-family: "Alegreya Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */