/* Imports */
@import "./component-style/variable";
@import "./component-style/pop-up";
@import "./component-style/header";
@import "./component-style/nav";
@import "./component-style/nav-burger";
@import "./component-style/content";
@import "./component-style/footer";
@import "./component-style/category";
@import "./component-style/pizza-item";
@import "./component-style/drink-item";
@import "./component-style/responsive";

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: $main-font;
  user-select: none;
  background-color: $main-color;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
