#pzHeader {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background: linear-gradient(to bottom left, rgb(0 0 0 /0.5), transparent),
    center / cover url(./../../public/image/bc2.jpg);
}
/* https://www.pizza-boss.de/_shops/res/pics/parallax_bg.jpg */
