.pzNav {
  height: 70px;
  width: 100vw;
  top: 100px;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: height 100ms ease-in;
  box-shadow: 0 0 10px #000;
  background-image: linear-gradient(
    to bottom,
    #ea2027,
    #d51f26,
    #c11e24,
    #ad1d22,
    #991c20
  );

  &-logo {
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: -60px;
    transition: all 200ms ease;
  }

  ul.pcNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 2% auto;
    list-style-type: none;
    gap: 30px;
    font: 1.5rem $fantasy-font;

    li {
      a {
        cursor: pointer;
        text-shadow: 0 0 5px #ccc;
        transition: all 200ms;
        color: $text-color;
        text-decoration: none;

        &:hover {
          color: $secondary-color;
          text-shadow: 0 0 5px #333;
        }
      }

      &:after {
        content: "";
        display: block;
        background: linear-gradient(
          to left,
          transparent,
          $secondary-color,
          transparent
        );
        height: 3px;
        width: 0;
        margin-inline: auto;
        transform: translateY(5px);
        transition: all 200ms;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .fa-cart-plus {
    padding: 8px 25px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    color: $primary-color;
    transition: all 150ms;
    box-shadow: 0 0 5px #ccc;
    position: relative;
    margin-right: 2%;

    &:hover {
      color: $secondary-color;
    }

    h2 {
      position: absolute;
      font: 0.8rem $number-font;
      top: -8px;
      left: -8px;
      height: 25px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      border-radius: 50%;
      color: #fff;
    }
  }

  .fa-user {
    padding: 10px 12px;
    background-color: $secondary-color;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px $secondary-color;
    transition: filter 200ms;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

/* Fixed Nav */
.fixNav {
  height: 50px;
  top: 0px;
  position: fixed;

  .pzNav-logo {
    height: 80px !important;
    top: 0px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 0 0 50% 50%;
    background-color: #fff;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }

  ul li {
    font-size: 1.2rem;
    &:after {
      height: 0;
    }
  }

  .fa-cart-plus {
    padding: 5px 20px;
    font-size: 1.2rem;
    h2 {
      height: 21px;
      font: 0.7rem $number-font;
    }
  }

  .fa-user {
    display: none;
  }
}
