.pzPopUp {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 /0.7);
  backdrop-filter: blur(10px);
  z-index: 9;
  user-select: none;
  overflow: hidden;
  opacity: 0;
  top: -100vh;

  .castArea {
    max-height: 70vh;
    min-height: 400px;
    min-width: 540px;
    width: 30vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #bbb, #ffff);
    padding: 30px 0;
    box-shadow: 0 0 5px #fff;
    top: -1000px;
    transition: all 1000ms;

    /* Close Btn */
    .closePopUp {
      position: absolute;
      top: 15px;
      right: 25px;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        color: $primary-color;
      }
    }

    /* Items Info Area */
    .castItems {
      width: 80%;
      max-height: 600px;
      padding-inline: 20px;
      flex-grow: 2;
      overflow-y: scroll;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid #eee;
      border-left-color: #ccc;
      border-bottom: 0;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background: #666;
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* single Item Info */
      .caItem {
        padding: 20px 10px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1rem;
        border-bottom: 1px solid #ccc;
        font-family: $number-font;

        /* Item Name */
        h2 {
          font: 1.4rem $main-font;

          /* Delete Btn */
          > i {
            font-size: 0.7rem;
            color: transparent;
            vertical-align: 2px;
            padding-right: 15px;
            margin-left: -10px;
            cursor: pointer;
            transition: color 200ms;

            &:hover {
              color: $primary-color !important;
            }
          }
        }

        &:hover h2 i {
          color: #bbb;
        }

        /* Price and minus , plus Btn */
        p {
          margin-right: -15px;
          span {
            font-size: 0.9rem;
            &:nth-child(2) {
              color: #555;
            }
            &:nth-child(3):after {
              content: " €";
            }
          }

          i {
            font-size: 0.8rem;
            padding: 4px 5px;
            margin-inline: 10px;
            background-color: #555;
            border-radius: 50%;
            cursor: pointer;
            transition: all 100ms;
            background-color: transparent;
            color: transparent;

            &:nth-child(1):hover {
              color: $primary-color;
            }
            &.fa-plus:hover {
              color: $secondary-color;
            }
          }
        }

        &:hover p i {
          background-color: #999;
          color: #fff;
        }

        &:last-child {
          border-bottom: none !important;
        }
      }
    }

    /* Total Price */
    .castTotal {
      width: 50%;
      min-width: 300px;
      padding: 20px;
      margin-block: 10px;
      border-top: 2px solid $primary-color;
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;

      > span:before {
        content: "€ ";
      }

      span {
        font-family: $number-font;

        span {
          font-size: 0.8rem;
        }
      }
    }

    /* Checkout Btn */
    .castBuy {
      padding: 10px 25px;
      border-radius: 5px;
      background-image: $secondary-gradient;
      color: $text-color;
      cursor: not-allowed;
      transition: filter 500ms;
      font-size: 1.3rem;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }

  .castEffect {
    top: 0px !important;
    transition: all 400ms cubic-bezier(0.1, 1.1, 0.67, 1.41);
  }

  /* Empty Cast Style */
  .emptyCart {
    color: #bbb;
    font-size: 2rem;

    &:before {
      content: "\f07a";
      display: block;
      text-align: center;
      font: var(--fa-font-solid);
      font-size: 7rem;
      padding-block: 1rem;
    }
  }
}

.popDown {
  opacity: 1 !important;
  top: 0 !important;
}
